@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* COMMON */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
a {
  color: #000;
}

#content-wrapper {
  width: 375px;
  margin: 50px auto 0;
  overflow: hidden;
}
/* swiper */
.swiper-wrapper {
  display: flex;
}
.slide-section {
  width: 100%;
  height: 812px;
  background-color: #eeece5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.iphone {
  background-image: url('../images/iphone.png');
  width: 100%;
  height: 44px;
  background-size: cover;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* HEADER */
#header {
  height: 43px;
  width: 327px;
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

#header .header__avatar {
  background-image: url('../images/avatar01.svg');
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
#header .header_title {
  font-weight: 500;
  font-size: 1.8rem;
}
#header .header__icon-wrap {
  width: 66px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
#header .header__icon-wrap .icon1 {
  background-image: url('../images/icon-qr.svg');
  width: 24px;
  height: 21px;
  cursor: pointer;
}
#header .header__icon-wrap .icon2 {
  background-image: url('../images/icon-search.svg');
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* ACCOUNT_STATUS */
#account-status {
  background-color: #fff;
  width: 279px;
  height: 155px;
  border-radius: 12px;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  margin-top: 33px;
  text-align: center;
  flex-shrink: 0;
}
#account-status .bank-account {
  text-align: center;
  position: relative;
  height: 21px;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#account-status .bank-account .account {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #858585;
  letter-spacing: -0.24px;
}
#account-status .bank-account .transfer {
  position: absolute;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.24px;
  right: 16px;
}

#account-status .bank-amount {
  margin-top: 16px;
  height: 36px;
}
#account-status .bank-amount .total-amount {
  font-size: 1.4rem;
}
#account-status .bank-amount .total-amount strong {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 2px;
}
#account-status .graph-wrap {
  margin-top: 16px;
  position: relative;
}
#account-status .graph-wrap .graph {
  width: 202px;
  height: 17px;
  margin: 0 auto;
  position: relative;
}
#account-range {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  margin: 0;
  background-color: #c4c4c4;
  border-radius: 10px;
}
#account-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ff5f00;
  height: 17px;
  width: 8px;
  border-radius: 4px;
  border: solid 2px #fff;
}
#progress__bar {
  width: 50%;
  height: 4px;
  background-color: #ff5f00;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 0;
}
#account-status .graph-wrap .graph-btn {
  background-image: url('../images/btn-graph.svg');
  width: 14px;
  height: 14px;
  background-size: cover;
  position: absolute;
  right: 14px;
  top: 0;
  margin: auto 0;
  cursor: pointer;
}
#account-status .balance-amount {
  display: inline-block;
  margin-top: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #858585;
}
/* popup chart */
.popup-chart {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-left: 30px;
  box-sizing: border-box;
  color: #444444;
  transition: all 0.3s;
}
.hide {
  height: 0;
  opacity: 0;
}
.display-none {
  display: none;
}
.popup-chart .popup-slide {
  position: absolute;
  top: 0;
}
.popup-chart .chart-close {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.24px;
  position: absolute;
  top: 44px;
  right: 13px;
  z-index: 2;
}
.popup-chart .chart__title {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.24px;
  margin-top: 77px;
}
.popup-chart .setting-money-graph {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
}
.popup-chart .setting-money-graph .setting-money {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-chart .setting-money-graph .setting-money h3 {
  font-size: 18px;
  font-weight: 500;
}
.popup-chart .setting-money-graph .setting-money h2 {
  color: #ff5f00;
  font-size: 24px;
  text-align: right;
  margin-right: 40px;
}
.popup-chart .setting-money-graph .setting-graph {
  margin-top: 23px;
  width: 308px;
  height: 28px;
  position: relative;
}
.popup-chart .daily-report {
  margin-top: 59px;
  font-weight: 500;
}
.popup-chart .daily-report .daily-title {
  font-size: 18px;
}
.popup-chart .daily-report .daily-graph {
  margin-top: 17px;
  width: 347px;
  height: 198px;
}
.popup-chart .month-report {
  margin-top: 46px;
}
.popup-chart .month-report .month-title {
  font-size: 18px;
  font-weight: 500;
}
.popup-chart .month-report .month-graph {
  width: 307px;
  height: 308px;
  margin-left: 6px;
  margin-top: 18px;
  margin-bottom: 19px;
}
.popup-chart .month-report .month__list--li {
  display: flex;
  align-items: center;
  width: 308px;
  font-size: 18px;
  margin-bottom: 19px;
}
.popup-chart .month-report .month__list--li .icon {
  flex-grow: 0;
  flex-basis: 30px;
  text-align: right;
  height: 22px;
}
.popup-chart .month-report .month__list--li .title {
  margin-left: 20px;
  text-align: left;
  flex-grow: 2;
  flex-basis: 0;
}
.popup-chart .month-report .month__list--li .price {
  color: #858585;
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}
/* AD */
.middle--text {
  font-size: 1.4rem;
  cursor: pointer;
  padding: 24px 0;
}
.middle--text a {
  text-decoration: underline;
  margin-left: 6px;
}

/* History */
#history-wrap {
  background-color: #f5f5f5;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  top: 349px;
  text-align: center;
  font-size: 1.4rem;
  position: absolute;
}
#history-wrap .drag-area {
  width: 100%;
  /* background-color: #000; */
  height: 100px;
}
#history-wrap .drag-area .drag-btn {
  width: 48px;
  height: 2px;
  border-radius: 4px;
  background-color: #c4c4c4;
  margin-top: 4px;
  display: inline-block;
}
#history-wrap .goal-wrap {
  width: 308px;
  height: 47px;
  top: 30px;
  left: 30px;
  font-size: 1.2rem;
  overflow: hidden;
  position: absolute;
}
#history-wrap .goal-wrap::-webkit-scrollbar {
  display: none;
}
#history-wrap .goal-wrap .inner-content {
  width: 455px;
  /* background-color: #c4c4c4; */
  height: 100%;
  display: flex;
  position: absolute;
}
#history-wrap .goal-wrap .goal-btn {
  width: 162px;
  background-color: #dadada;
  border-radius: 6px;
  margin-right: 13px;
  /* -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; */
}
#history-wrap .goal-wrap .goal-btn .color-box {
  background-color: #ff5f00;
  border-radius: 6px 0 0 6px;
  width: 97px;
  height: 100%;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
}
#history-wrap .goal-wrap .goal-btn:nth-child(2) .color-box {
  background-color: #feb700;
}
#history-wrap .goal-wrap .goal-btn .color-box h3 {
  margin-left: 13px;
  margin-top: 7px;
}
#history-wrap .goal-wrap .add-moneybox {
  display: flex;
  align-items: center;
}
#history-wrap .goal-wrap .add-moneybox .add--btn {
  width: 22.5px;
  height: 22.5px;
  margin-left: 19px;
}
#history-wrap .goal-wrap .add-moneybox .add--text {
  color: #ff5f00;
  font-size: 12px;
  font-weight: 500;
  margin-left: 6px;
  flex-shrink: 0;
}
/* day-money */
#history-wrap .day-money-wrap {
  width: 302px;
  margin: 0 auto 0;
  overflow: scroll;
  position: relative;
  background-color: #f5f5f5;
  height: auto;
}
#history-wrap .day-money-wrap::-webkit-scrollbar {
  display: none;
}
#history-wrap .day-money-wrap .day-money-slider {
  /* min-height: 300px; */
  max-height: 300px;
  padding-top: 20px;
}
#history-wrap .day-money-wrap .day-use__wrap {
  padding-bottom: 20px;
}
#history-wrap .day-money-wrap .day-use__wrap .day-total {
  display: flex;
  justify-content: space-between;
}
#history-wrap .day-money-wrap .day-use__wrap .day {
  text-align: left;
  font-weight: 700;
}
#history-wrap .day-money-wrap .day-use__wrap .day-spend {
  font-weight: 500;
  text-align: right;
  color: #b4b4b4;
}
#history-wrap .day-money-wrap .day-use__wrap .history {
  position: relative;
}
#history-wrap .day-money-wrap .day-use__wrap .history .history_list {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 300;
  height: 34px;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  margin-top: 18px;
}
#history-wrap .day-money-wrap .day-use__wrap .history .history_list:last-child {
  margin-bottom: 38px;
}
#history-wrap .day-money-wrap .day-use__wrap .history .history_list .item {
  color: #444;
  font-weight: 400;
}
#history-wrap .day-money-wrap .day-use__wrap .history .history_list .price-in {
  font-weight: 300;
  color: #ff5f00;
}
#history-wrap .day-money-wrap .day-use__wrap .history .history_list .price-out {
  font-weight: 300;
}
/* NAV */
#nav {
  width: 100%;
  height: 76px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(180deg, #00bdb2 35.35%, #c4e7b8 169.96%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .nav_icon-wrap {
  height: 28px;
  width: 295px;
  display: flex;
  justify-content: space-between;
}
#nav .nav_icon-wrap .nav-icon {
  height: 100%;
  width: 28px;
  position: relative;
  cursor: pointer;
}
#nav .nav_icon-wrap .nav-icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
